@using ASP.NET_StoreManagement.Models;
@model Product

@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Layout/ProductDetailLayout.cshtml";
}

<div class="col-md-9 product-price1">
    <div class="col-md-5 single-top">
        <div class="flexslider">
            <ul class="slides">
                <li data-thumb="@Url.Content("~/Content/HinhAnhSP/" + Model.Image)">
                    <img src="@Url.Content("~/Content/HinhAnhSP/" + Model.Image)" />
                </li>
                <li data-thumb="@Url.Content("~/Content/HinhAnhSP/" + Model.ChildImage1)">
                    <img src="@Url.Content("~/Content/HinhAnhSP/" + Model.ChildImage1)" />
                </li>
                 <li data-thumb="@Url.Content("~/Content/HinhAnhSP/" + Model.ChildImage2)">
                    <img src="@Url.Content("~/Content/HinhAnhSP/" + Model.ChildImage2)" />
                </li>
                 <li data-thumb="@Url.Content("~/Content/HinhAnhSP/" + Model.ChildImage3)">
                    <img src="@Url.Content("~/Content/HinhAnhSP/" + Model.ChildImage3)" />
                </li>               
            </ul>
        </div>
        <!-- FlexSlider -->
        <script defer src="~/Content/js/jquery.flexslider.js"></script>
        <link rel="stylesheet" href="~/Content/css/flexslider.css" type="text/css" media="screen" />

        <script>
// Can also be used with $(document).ready()
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    controlNav: "thumbnails"
  });
});
        </script>
    </div>
    <div class="col-md-7 single-top-in simpleCart_shelfItem">
        <div class="single-para ">
            <h4>@Model.DisplayName</h4>
            <div class="star-on">
                <ul class="star-footer">
                    <li><a href="#"><i> </i></a></li>
                    <li><a href="#"><i> </i></a></li>
                    <li><a href="#"><i> </i></a></li>
                    <li><a href="#"><i> </i></a></li>
                    <li><a href="#"><i> </i></a></li>
                </ul>
                <div class="review">
                    <a href="#">Lượt xem: @Model.ViewCount lượt </a>

                </div>
                <div class="clearfix"> </div>
            </div>

            <h5 class="item_price">Giá: @Model.UnitPrice.Value.ToString("#,##") đồng</h5>
            <p>
                @Html.Raw(Model.Configuration)
            </p>
            <a href="#" class="add-cart item_add">Thêm vào giỏ</a>

        </div>
    </div>
    <div class="clearfix"> </div>
    <!---->
    <h3 style="font-weight:bold;color:black;">Thông tin sản phẩm</h3>
    <br/>
    @Html.Raw(Model.Description)
</div>

