@using ASP.NET_StoreManagement.Models;
@model IEnumerable<Product>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@{
    int pageSize = 12;
    // int pageCount = Model.Count() / pageSize + ((Model.Count() % pageSize) == 0 ? 0 : 1);
    int pageCount = 1;
    int count = 0;
}
<div class="col-md-12 product1">
    <div class=" bottom-product">
        @foreach (var item in Model)
        {
            if (count % pageSize == 0 && count != 0)
            {
                pageCount++;
            }
            count++;
            <div class="@Url.Content("col-md-4 bottom-cd simpleCart_shelfItem Page" + pageCount.ToString())">
                <div class="product-at ">
                    <a href="single.html">
                        <img class="img-responsive" src="@Url.Content("~/Content/HinhAnhSP/" + item.Image)" alt=""
                             style="width:150px;height:150px">
                        <div class="pro-grid">
                            @Ajax.RawActionLink(string.Format("<span class=\"buy-in\">Thêm vào giỏ</span>"), "AddProductAjax", "Basket", new { @Id = item.Id, @directURL = Request.Url.ToString() }, new AjaxOptions
                            {
                                HttpMethod = "GET",
                                UpdateTargetId = "divBasketPartial",
                                InsertionMode = InsertionMode.Replace,
                            }, null)
                        </div>
                    </a>
                </div>
                <p class="tun">@item.DisplayName</p>
                @Ajax.RawActionLink(string.Format("<p class=\"number item_price\"><i> </i>{0}</p>", item.UnitPrice.Value.ToString("#,##")), "AddProductAjax", "Basket", new { @Id = item.Id, @directURL = Request.Url.ToString() }, new AjaxOptions
                {
                   HttpMethod = "GET",
                   UpdateTargetId = "divBasketPartial",
                   InsertionMode = InsertionMode.Replace,
                }, new { @class = "item_add" })


            </div>
        }

        <div class="clearfix"> </div>

    </div>
    <div class="Paging">
        @for (int i = 1; i <= pageCount; i++)
        {
            <a class="linkTrang" data-page="@Url.Content("Page"+i)" href="#">@i</a>
        }
    </div>
</div>
<style>
    .simpleCart_shelfItem {
        display:none;
    }

    .Page1{
        display:block;
    }
   
</style>

<script type="text/javascript">
    $(".linkTrang").click(function () {
        $(".simpleCart_shelfItem").hide();

        var pageNum = $(this).attr("data-page");
        $("." + pageNum).show();


    })
</script>
